---
interface Props {
  title: string;
  subtitle?: string;
}
const { title, subtitle } = Astro.props as Props;
---

<header class="w-full flex flex-col items-start gap-4">
  <h1 class="font-medium text-xl">{title}</h1>
  {subtitle && <p class="text-base">{subtitle}</p>}
</header>
