---

---

<header class="sticky top-0 left-0 w-full h-20 border-b border-border bg-background/85 z-50 backdrop-blur-sm">
  <nav class="w-full h-full flex items-start justify-start px-10 gap-4 lg:gap-0">
    <div class="w-full flex items-center h-full flex-1 lg:flex-none lg:max-w-xs 2xl:max-w-sm">
      <a href="/" class="w-9 h-9 rounded-full bg-blue-600"></a>
    </div>
    <div class="w-full h-full flex items-center lg:max-w-xl mx-auto lg:mr-auto lg:ml-0">
      <div class="w-full flex items-center justify-start mx-auto lg:ml-0 lg:mr-auto">
        <div class="w-full relative h-14 max-w-xl">
          <svg xmlns="http://www.w3.org/2000/svg" class="size-7 absolute top-1/2 left-4 -translate-y-1/2" viewBox="0 0 512 512"
            ><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" d="M221.09 64a157.09 157.09 0 1 0 157.09 157.09A157.1 157.1 0 0 0 221.09 64Z"
            ></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path></svg
          >
          <input
            type="text"
            placeholder="Buscar en la cuenta de Google"
            class="appearance-none w-full h-full pl-14 border border-background bg-foreground/5 placeholder:font-normal font-medium placeholder:text-sm rounded-full focus:outline-none focus:bg-background outline-0 focus:ring-0 transition-all duration-300 hover:bg-foreground/10 focus:border-border"
          />
        </div>
      </div>
    </div>
    <div class="inline-flex h-full items-center justify-end gap-0.5">
      <button class="inline-flex items-center justify-center flex-none rounded-full w-12 h-12 transition-colors duration-300 hover:bg-foreground/5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"
          ><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" d="M256 80a176 176 0 1 0 176 176A176 176 0 0 0 256 80Z"></path><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="28"
            d="M200 202.29s.84-17.5 19.57-32.57C230.68 160.77 244 158.18 256 158c10.93-.14 20.69 1.67 26.53 4.45c10 4.76 29.47 16.38 29.47 41.09c0 26-17 37.81-36.37 50.8S251 281.43 251 296"
          ></path><circle cx="250" cy="348" r="20" fill="currentColor"></circle></svg
        >
      </button>
      <button class="inline-flex items-center justify-center flex-none rounded-full w-12 h-12 transition-colors duration-300 hover:bg-foreground/5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M8 6a2 2 0 1 1-4 0a2 2 0 0 1 4 0m0 6a2 2 0 1 1-4 0a2 2 0 0 1 4 0m-2 8a2 2 0 1 0 0-4a2 2 0 0 0 0 4m8-14a2 2 0 1 1-4 0a2 2 0 0 1 4 0m-2 8a2 2 0 1 0 0-4a2 2 0 0 0 0 4m2 4a2 2 0 1 1-4 0a2 2 0 0 1 4 0m4-10a2 2 0 1 0 0-4a2 2 0 0 0 0 4m2 4a2 2 0 1 1-4 0a2 2 0 0 1 4 0m-2 8a2 2 0 1 0 0-4a2 2 0 0 0 0 4"
          ></path></svg
        >
      </button>
      <button class="inline-flex items-center justify-center flex-none rounded-full w-12 h-12 transition-colors duration-300 hover:bg-foreground/5">
        <img src="https://randomuser.me/api/portraits/women/24.jpg" alt="Imagen de perfil" class="size-8 rounded-full object-cover" />
      </button>
    </div>
  </nav>
</header>
