---
import Header from "@/components/Header.astro";
import RootLayout from "./RootLayout.astro";
import Menu from "@/components/Menu.astro";
---

<RootLayout>
  <Header />
  <main class="w-full min-h-[calc(100vh-5rem)]">
    <div class="w-full h-full flex items-start justify-start px-10">
      <aside class="sticky top-20 w-full hidden lg:block max-w-xs 2xl:max-w-sm">
        <Menu />
      </aside>
      <section class="w-full max-w-xl mx-auto lg:mr-auto lg:ml-0 mt-10 pb-20">
        <div class="w-full">
          <slot />
        </div>
      </section>
    </div>
  </main>
</RootLayout>
